.App {
    text-align: center;
    min-height: 100vh;
    margin-top: 4em;
    justify-content: center;
    align-items: center;
    position: -webkit-sticky;
  }
  
  .chatbot{
    bottom: 0;
    height: 70%;
    right : 50px;
    position: fixed;
    width: 350px;
  }

  .react-chatbot-kit-chat-container{
    height: 460px;
    width: 300px;
  }
  .react-chatbot-kit-chat-bot-avatar-letter{
    margin-top: 15px;
  }
  .react-chatbot-kit-user-avatar-container{
    background-color: #7554a0;
  }
  .react-chatbot-kit-chat-bot-message{
    background-color: #7554a0;
  }
  .react-chatbot-kit-chat-btn-send{
    background-color: #7554a0;
  }
  .react-chatbot-kit-chat-bot-message-arrow
  {
    border-right-color: #7554a0;
  }