.App {
    text-align: center;
    min-height: 100vh;
    margin-top: 4em;
    justify-content: center;
    align-items: center;
    position: -webkit-sticky;
  }
  
  .chatbot{
    bottom: 0;
    height: 70%;
    right : 50px;
    position: fixed;
    width: 350px;
  }

  .react-chatbot-kit-chat-container{
    height: 460px;
    width: 300px;
  }