.App {
    text-align: center;
    min-height: 100vh;
    display: absolute;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    position: -webkit-sticky;
  }
  
  .chatbot{
    bottom: 0;
    height: 70%;
    right : 30px;
    position: fixed;
    width: 350px;
  }