.spacing{
    margin: 10px 5px 5px 10px;
    display: flex ;
    flex-direction:row;
}

.colspace{
    position: absolute;
  right: 6em;
}

.chartstyle{
  width: 250px;
  height: 250px;
  padding: 1em;
}

.ant-table-cell{
  width: 300px;
}